.cont{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210507/pngtree-photography-green-leaves-background-natural-green-image_697603.jpg");
 height:800px;
 width: 800px;
}